<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Baker Project</title>
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #5F7D95;padding: 0 110px;height: 80px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container py-5">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                HOME
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Bagel</a></li>
                                <li><a class="dropdown-item" href="#">Cupcake</a></li>
                                <li><a class="dropdown-item" href="#">Croisstant</a></li>
                                <li><a class="dropdown-item" href="#">Preztent</a></li>
                                <li><a class="dropdown-item" href="#">Strudel</a></li>
                                <li><a class="dropdown-item" href="#">Baguette</a></li>
                                <li><a class="dropdown-item" href="#">Canape</a></li>
                                <li><a class="dropdown-item" href="#">Crouton</a></li>
                                <li><a class="dropdown-item" href="#">Muffin</a></li>
                                <li><a class="dropdown-item" href="#">Breadstick</a></li>
                                <li><a class="dropdown-item" href="#">Crumpet</a></li>
                                <li><a class="dropdown-item" href="#">Cannoli</a></li>
                                <li><a class="dropdown-item" href="#">Landing</a></li>
                            </ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                PAGES
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">About Me</a></li>
                                <li><a class="dropdown-item" href="#">The Menu</a></li>
                                <li><a class="dropdown-item" href="#">Our Team</a></li>
                                <li><a class="dropdown-item" href="#">Our Services</a></li>
                                <li><a class="dropdown-item" href="#">What We Offer</a></li>
                                <li><a class="dropdown-item" href="#">Pricing Plans</a></li>
                                <li><a class="dropdown-item" href="#">Contact Us</a></li>
                                <li><a class="dropdown-item" href="#">Leave as a Note</a></li>
                                <li><a class="dropdown-item" href="#">404 Error Page</a></li>
                            </ul>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                PORTFOLIO
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Standard</a></li>
                                <li><a class="dropdown-item" href="#">Gallery</a></li>
                                <li><a class="dropdown-item" href="#">Masonry</a></li>
                                <li><a class="dropdown-item" href="#">Portfolio Single</a></li>
                            </ul>
                    </ul>
                    </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="container d-flex text-center">
            <img src="https://baker.qodeinteractive.com/wp-content/uploads/2017/03/logo-light.png"
                 style="width:102px;height:60px;justify-content: center;margin-left: 75px;" alt="">
        </div>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            BLOG
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Standard</a></li>
                            <li><a class="dropdown-item" href="#">Masonry</a></li>
                            <li><a class="dropdown-item" href="#">single Post</a></li>
                        </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            SHOP
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Shop List</a></li>
                            <li><a class="dropdown-item" href="#">Single Product</a></li>
                            <li><a class="dropdown-item" href="#">Shop Pages</a></li>
                            <li><a class="dropdown-item" href="#">Shop Layouts</a></li>
                        </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            ELEMENTS
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Classic</a></li>
                            <li><a class="dropdown-item" href="#">Presentatioal</a></li>
                            <li><a class="dropdown-item" href="#">Infographic</a></li>
                            <li><a class="dropdown-item" href="#">Typography</a></li>
                        </ul>
                    </li>
                    <a asp-controller="Auth" asp-action="Register"> <button type="submit" class="btn btn-success"> Qeydiyyat</button></a>
                    <a asp-controller="Auth" asp-action="SignIn"> <button asp-route-ReturnUrl="@Context.Request.Path" type="submit" class="btn btn-success" style="padding:0 40px;margin:0 10px;height:35px" asp-controller="Auth" asp-action="SignIn"> Giriş</button></a>               
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="single_footer">
                        <img src="assets/images/h5-logo-img-1.png" alt="">
                        <ul>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Simply dummy text</a></li>
                            <li><a href="#">The printing and typesetting </a></li>
                            <li><a href="#">Standard dummy text</a></li>
                            <li><a href="#">Type specimen book</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Page Link</h4>
                        <ul>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Simply dummy text</a></li>
                            <li><a href="#">The printing and typesetting </a></li>
                            <li><a href="#">Standard dummy text</a></li>
                            <li><a href="#">Type specimen book</a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h4 style="color:white;">Instagram Feed</h4>
                    <div class="row">
                        <div class="column">
                            <img src="assets/images/product1.jpg" alt="Snow" style="width:100%">
                        </div>
                        <div class="column">
                            <img src="assets/images/product2.jpg" alt="Forest" style="width:100%">
                        </div>
                        <div class="column">
                            <img src="assets/images/product3.jpg" alt="Mountains" style="width:100%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <img src="assets/images/product4.jpg" alt="Snow" style="width:100%">
                        </div>
                        <div class="column">
                            <img src="assets/images/product5.jpg" alt="Forest" style="width:100%">
                        </div>
                        <div class="column">
                            <img src="assets/images/product6.jpg" alt="Mountains" style="width:100%">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single_footer single_footer_address">
                        <h4>Subscribe today</h4>
                        <div class="signup_form">
                            <form action="#" class="subscribe">
                                <input type="text" class="subscribe__input" placeholder="Email Address">
                                <button type="button" class="subscribe__btn"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="py-2">
                        <p style="color: white;">Sign me up to receive emails on new product arrivals special offers.</p>
                    </div><hr style="color: white;">
                    <div style="color: white;">
                        <span>Contact us:</span><p> 00 34 938 60 24 24</p>
                    </div>
                    <div class="social_profile">
                        <ul>
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <p class="copyright">© 2017 Qode Interactive <a href="#"> All Rights Reserved</a>.</p>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>

    <script src="~/assets/js/main.js"></script>
</body>

</html>
